@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* Global Style */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #1c1c1c;
  color: #ffffff;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 165px;
  height: 49px;

  font-size: 16px;
  font-weight: 500;
  line-height: 19px;

  border-radius: 5px;
  background: #f6762c;

  transition: opacity .3s ease-in-out;
}

.btn:hover {
  opacity: .8;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 15px;
  max-width: 1140px;
  margin: 0 auto;
}

/* Header  */
.header {
  padding: 25px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  gap: 28px;
}

.header__nav a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  opacity: .7;

  transition: opacity .3s ease-in-out;
}

.header__nav a.active {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;

  opacity: 1;
}

.header__nav a:hover {
  opacity: .9;
}

/* Hero */
.hero {
  padding: 240px 0;

  margin-top: -100px;
  min-height: 100vh;

  background-image: url("./images/welcome-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__wrapper {
  max-width: 555px;
}

.hero__subtitle {
  margin-bottom: 7px;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 10%;
  text-transform: uppercase;
}

.hero__title {
  margin-bottom: 37px;

  font-size: 58px;
  font-weight: 500;
  line-height: 67px;
}

.hero__description {
  margin-bottom: 42px;

  max-width: 523px;

  font-size: 18px;
  font-weight: 400;
  line-height: 21px;

  opacity: 0.7;
}

/* Food */
.food {
  padding: 100px 0;
}

.food__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.food__item {
  max-width: 262px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #312F30;

  border-radius: 10px;

  overflow: hidden;
}

.food__item-wrapper {
  padding: 28px 19px 19px 35px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}

.food__item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
}

.food__item-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;

  opacity: .7;

  text-align: center;
}